
[submodule "arduino/Arduino-CMake-NG"]
	path = arduino/Arduino-CMake-NG
	url = git@github.com:arduino-cmake/Arduino-CMake-NG.git

[submodule "arduino/ArduinoJson"]
	path = arduino/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
